.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 110px;
    color: #eeeeee
  }

  @media (max-width: 599px){
  .social {
    text-align: center
  }
}