@media (min-width: 600px){
    h2 {
    text-align: left;
    margin-top: 50px;
    color: whitesmoke
}

    .li {
    text-align: left;
    color: whitesmoke;
    font-weight: bold;
}


h1 {
    text-align: left;
    /* margin-top: 100px; */
    color: whitesmoke
}
}
@media (max-width: 599px){
    h2 {
    text-align: center;
    margin-top: 50px;
    color: black
}

    .li {
    text-align: center;
    color: black;
    font-weight: bold;
    
}


h1 {
    text-align: center;
    /* margin-top: 100px; */
    color: black
}
}

