.aboutbg {
    background-color: #555555;
    color: white;
    padding: 15px;
    position: relative;
    top: -20px;

}

#katie {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

#aboutme {
    text-align: center;
}