.aboutbg {
    background-color: #555555;
    color: white;
    padding: 15px;
    position: relative;
    top: -20px;

}

#katie {
    border-radius: 50%;
    background-image: url("./KThorpe.PNG")
}